<ion-app>
  <ion-header *ngIf="authService.isAuthenticated()">
    <ion-toolbar color="primary">
      <ion-title>Credit Manager</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/requests/new">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="logout()">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <router-outlet />
  </ion-content>
</ion-app>
