.env

backend/target/
backend/.mvn/
backend/*.iml
backend/.idea/

frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.ionic/

*.class
*.jar
*.war
*.log

.DS_Store
Thumbs.db

.idea/
*.iml
*.ipr
*.iws
